<div id="product-usps">
    <div id="guarantee-usp" class="usp-container">
        <div class="usp-icon">
            {% render 'svg-icons', icon: block.settings.guarantee_icon %}
        </div>
        <div class="usp_content">
            <div class="title">{{ block.settings.guarantee_title }}</div>
            <div class="description">{{ block.settings.guarantee_description }}</div>
        </div>
    </div>
    <div id="shipping-usp" class="usp-container">
        <div class="usp-icon">
            {% render 'svg-icons', icon: block.settings.shipping_icon %}
        </div>
        <div class="usp_content">
            <div class="title">{{ block.settings.shipping_title }}</div>
            <div class="description">{{ block.settings.shipping_description }}</div>
        </div>
    </div>
    <div id="signal-usp" class="usp-container">
        <div class="usp-icon">
            {% render 'svg-icons', icon: block.settings.signal_icon %}
        </div>
        <div class="usp_content">
            <div class="title">{{ block.settings.signal_title }}</div>
            <div class="description">{{ block.settings.signal_description }}</div>
        </div>
    </div>
    <div id="support-usp" class="usp-container">
        <div class="usp-icon">
            {% render 'svg-icons', icon: block.settings.support_icon %}
        </div>
        <div class="usp_content">
            <div class="title">{{ block.settings.support_title }}</div>
            <div class="description">{{ block.settings.support_description }}</div>
        </div>
    </div>
</div>