<style>
  .main-section-header {
    text-align: center;
  }

  .inbox-big-image {
    display: flex;
    justify-content: center;
    margin: 50px;
  }

  .featured-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px;
  }

  .featured-icon {
    display: flex;
    justify-content: center;
  }

  .content-list {
    margin: 50px;
  }
  .featured-icon-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .inbox-big-image img {
    width: 100%;
    height: auto;
  }

</style>
<section class="box-content-section page-width">
  <div class="main-section-header">
    <h1>{{ section.settings.title }}</h1>
  </div>
  <div class="inbox-big-image">
    {{ section.settings.image | image_url: width: '800px' | image_tag }}
  </div>
  <div class="featured-icons">
    <h3>{{ section.settings.featured_title }}</h3>
    <div class="featured-icon-list">
      {% for block in section.blocks %}
        <div class="featured-icon">
          {{ block.settings.icon | image_url: width: '100px' | image_tag }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="content-list">
    {{ section.settings.content_list }}
  </div>
</section>
{% schema %}
  {
    "name": "Box Content",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Main Section Header"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Inbox Big Image"
      },
      {
        "type": "text",
        "id": "featured_title",
        "label": "Featured Icons Title"
      },
      {
        "type": "richtext",
        "id": "content_list",
        "label": "Content List"
      }
    ],
    "blocks": [
      {
        "type": "featured_icons",
        "name": "Featured Icons",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Box Content",
        "category": "Custom"
      }
    ]
  }
{% endschema %}